[submodule "vqa-faster-rcnn"]
	path = vqa-faster-rcnn
	url = git@github.com:csarron/vqa-faster-rcnn.git
[submodule "yolov5"]
	path = yolov5
	url = git@github.com:csarron/yolov5.git
[submodule "mmf"]
	path = mmf
	url = git@github.com:csarron/mmf.git
[submodule "lxmert"]
	path = lxmert
	url = git@github.com:csarron/lxmert.git
